# Node
node_modules/
.next/

# PHP / Laravel
/vendor/
/.env
Homestead.yaml
Homestead.json
/vendor/
/public/storage
/storage/*.key

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
