version: '3.8'
services:
  app:
    build: .
    ports:
      - '8000:8000'
    environment:
      - APP_ENV=local
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
      - redis
  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: mientermin
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
volumes:
  db_data:
